main{

    flex: 1;
    max-width: 894px;
    margin: 0 auto;
    color: var(--gray);
    box-sizing: border-box;
}

/*Instruções*/
.principal{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .5em;
    margin-bottom: 2em;
}

.instrucoes{

    line-height: 2.5em;
}

.instrucoes .instrucoes-titulo, .destaques .destaques-titulo{

    text-transform: uppercase;
    font-size: 2em;
}

.instrucoes .instrucoes-lista{
    
    padding-left: 2em;
    line-height: 1em;
}

.instrucoes .lista-item{

    list-style-type: disc;
}

.principal .principal-imagem{

    max-width: 325px;
}

/*Boxes de destaque*/
.destaques{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding: .5em;
}

.destaques .destaques-titulo{

    width: 100%;
    margin-bottom: 1em;
}

.destaques .card-destaque{

    width: 100%;
    max-width: 193px;
    margin: 1em 0;
}

.destaques .destaque-img{

    width: 100%;
    color: transparent;
    background: url(../../img/redes-sociais.jpeg);
    height: 163px;
    width: 196px;
}

.destaques .img-facebook{
    background-position: 0 0;
}

.destaques .img-instagram{
    background-position: 588px 0;
}

.destaques .img-skype{
    background-position: 392px 0;
}

.destaques .img-whatsapp{
    background-position: 196px 0;
}

.destaques .destaque-descricao{

    padding: .5em;
}
