
.rodape{

    color: var(--white);
    background-color: var(--gray-dark);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodape a{

    color: var(--white);
    text-decoration-line: none;
    margin: 0 .5em;
    vertical-align: middle;
    transition: all .5s;
}

.rodape a:hover{

    color: var(--blue);
    font-size: 1.2em;
    transition: all .5s;
}

.rodape .rodape-nav{

    margin: 1em;
}

.rodape .rodape-logo{

    font-weight: 900;
    padding: 1.5em;
}